@import url(/assets/stylesheets/reset.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444;
  font-size: 16px;
  background: #EDEBEB;
}

header,
.portfolio,
footer {
  width: 82%;
  margin: 0 auto;
}

/* Selection ******************************************************/
::-moz-selection {
  background: #CCCCCC;
  color: #333333;
}
::selection {
  background: #CCCCCC;
  color: #333333;
}

/* Header *********************************************************/
header {
  text-align: center;
  padding-top: 98px;
  background: #444 url(/assets/images/logo.png) no-repeat 50% 36px;
}

header hgroup {
  display: none;
}

.header-content {
  background: #FFF;
  padding: 35px 0;
}

header .description {
  padding: 0 20%;
  line-height: 2em;
  font-size: 1.2em;
}

header .main-description {
  font-size: 1.7em;
  line-height: 2.6em;
}

.main-nav {
  margin-top: 20px;
}

.main-nav a {
  text-transform: uppercase;
  color: #FFF;
  display: inline-block;
  margin: 12px auto;
  font-size: 0.9em;
  padding: 0.9em 2.3em;
  font-weight: bold;
  background: #E84C3D;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.main-nav a:hover {
  background: #F35041;
}

/* Portfolio *********************************************************/
.portfolio {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1170px;
}

.portfolio ol {
  list-style: none;
}

.portfolio li {
  float: left;
  width: 33.33%;
  background: #000;
}

.portfolio li.hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.portfolio li a {
  line-height: 0;
  display: block;
}

/* Footer ************************************************************/
footer {
  background: #FFF;
  overflow: auto;
  padding: 70px 0;
}

.contact-links ul {
  text-align: center;
}

.contact-links li {
  display: inline-block;
  margin: 0 5%;
}

.contact-links a {
  display: inline-block;
  float: left;
  width: 72px;
  height: 72px;
  background: url(/assets/images/social.png) transparent no-repeat;
}

.contact-links a span {
  display: none;
}

.contact-links a.twitter { background-position: 0 0; }
.contact-links a.dribble { background-position: -77px 0; }
.contact-links a.linkedin { background-position: -153px 0; }
.contact-links a.skype { background-position: -230px 0; }

.contact-links a.twitter:hover { background-position: 0 -82px; }
.contact-links a.dribble:hover { background-position: -77px -82px; }
.contact-links a.linkedin:hover { background-position: -153px -82px; }
.contact-links a.skype:hover { background-position: -230px -82px; }

/* Media Queries *************************************************************************************************************************/
@media screen and (max-width: 900px) {
  header .description {
    padding: 0 10%;
  }

  footer {
    padding: 30px 0;
  }

  .contact-links li {
    width: 50%;
    margin: 2% 0;
    float: left;
  }
  .contact-links a {
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .portfolio li {
    width: 50%;
  }

  header,
  .portfolio,
  footer {
    width: 100%;
    margin: 0 auto;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {

  .contact-links a {
    background-image: url(/assets/images/social@x2.png);
    -webkit-background-size: 301px 153px;
    background-size: 301px 153px;
  }

  header {
    background-image: url(/assets/images/logo@x2.png);
    -webkit-background-size: 198px 34px;
    background-size: 198px 34px;
  }
}
